################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MemoryCacheManager/obj
/MemoryCacheManager/bin
/MemoryCacheManagerTests/bin
/MemoryCacheManagerTests/obj
